@keyframes fontalicious {
    0% {
      font-family: helvetica;
    }
    10% {
      font-family: times;
    }
    20% {
      font-family: fantasy;
    }
    30% {
      font-family: monospace;
    }
    40% {
      font-family: Palatino;
    }
    50% {
      font-family: Tahoma;
    }
    60% {
      font-family: impact;
    }
    70% {
      font-family: cursive;
    }
    80% {
      font-family: monospace;
    }
    90% {
      font-family: fantasy;
    }
    99% {
      font-family: futura;
    }
    100% {
    }
  }
  
  .fontalicious {
    animation-name: fontalicious;
    animation-iteration-count: 4;
    animation-duration: 1s;
  }
  
  /**
   * Animations
   */
  .animated {
    animation-fill-mode: both;
  }

  .center h1 {
    font-size: 70px;
    position: relative;
    margin: 0px;
  }
  
  h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  }
  
  #my_dataviz {
    border-radius: 8px;
  }
  
  .chart::before {
    position: absolute;
    top: 50px;
    left: 300px;
    z-index: -1;
    display: block;
    width: 400px;
    height: 300px;
    content: " ";
    background-image: url (href="https://static.observablehq.com/favicon-512.0667824687f99c942a02e06e2db1a060911da0bf3606671676a255b1cf97b4fe.png");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    opacity: 0.3;
  }
  
  .tooltip {
    position: absolute;
    width: 135px;
    height: 60px;
    padding: 2px;
    padding-top: 8px;
    font: 12px sans-serif;
    color: white;
    text-align: center;
    background: #551aaf;
    border: 0;
    border-radius: 10px;
  }
  
  .axis-text {
    font-family: sans-serif;
    font-weight: bold;
    fill: #551aaf;
    text-anchor: middle;
  }
  
  .active {
    font-weight: bold;
    fill: #000;
    fill: #551aaf;
    transition: fill 0.3s ease-out;
    text-anchor: middle;
  }
  
  .inactive {
    font-weight: lighter;
    fill: #551aaf;
    transition: fill 0.3s ease-out;
    text-anchor: middle;
  }
  
  .inactive:hover {
    fill: #e75480;
    cursor: pointer;
  }
  