<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
        <title>Trends in Google Search</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
        <link rel="stylesheet" href= "{{ url_for('static', filename='style.css') }}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
        
    </head>

    <body>
	
            <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="#">Nav Bar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://vote.pollcode.com/45877522">Poll</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
     
  <div class="center">
    <h1 class="animated"> USA's Trends in Google Search </h1>
    <div class="description">
 
    </div>
    <div class="controls">
        
        <script type="text/javascript" src="https://ssl.gstatic.com/trends_nrtr/2431_RC03/embed_loader.js"></script>
        <script type="text/javascript">
          trends.embed.renderWidget("US_cu_4Rjdh3ABAABMHM_en", "fe_line_chart_62098245-f9fd-43dc-8d8e-33a7ef01a3a5", {"guestPath":"https://trends.google.com:443/trends/embed/"});
        </script>
        <br>
        <script type="text/javascript" src="https://ssl.gstatic.com/trends_nrtr/2431_RC03/embed_loader.js"></script>
        <script type="text/javascript">
          trends.embed.renderWidget("US_cu_4Rjdh3ABAABMHM_en", "fe_list_dc34ed0f-ecb9-43b4-825a-b60b3af97791", {"guestPath":"https://trends.google.com:443/trends/embed/"});
        </script>
      
        </div>
        <div>
                <div>Sources: All keywords by <a href='https://trends.google.com/trends/yis/2020/US/'>Google Trends</a></div>
                <div>Available code here: <a href='https://github.com/rimhoho/Google-Search-Trend-in-USA'>Git Lab</a></div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://d3js.org/d3.v4.js"></script>
        <script src="{{ url_for('static', filename='gtrends.js') }}"></script>
    
    <footer class="footer navbar-fixed-bottom">
        <div class="two-toned-footer-color"></div>
        <p class="text-muted text-muted-footer text-center">
          &copy; Copyright Lupita Lopez 2020
          <br>
          Please note that Google searches are only samples numbers in Google Trends, this is because Google handles billions of searches per day.
        </p>
      </footer>

    </body>
</html>
